$pal-text: #191d19;
$pal-bg: #4f44d8;
$pal-highlight: #44d8d3;
$break: 64rem;

%ui-element {
	box-sizing: border-box;
	width: 100%;
	font-size: 1rem;
	background-color: transparent;
	border: none;
	border-left: 2px solid $pal-text;
	border-right: 2px solid $pal-text;
	padding: 0.5rem;
	font-family: monospace;

	&::selection {
		background-color: $pal-bg;
		color: white;
	}

	&:hover {
		background-color: white;
	}

	&:focus {
		background-color: white;
		outline: 2px solid $pal-bg;
	}
}

[hidden] {
	display: none;
}

html {
	background-color: $pal-bg;
}
body {
	font-family: monospace;
	font-size: 16px;
	max-width: 64rem;
	margin: 2rem auto;
	background-color: #efe9e7;

	>* {
		margin: 1rem;
	}
	>h1 {
		text-align: center;
		background-color: $pal-text;
		color: white;
		padding: 1rem;
		margin: 0;
	}
}

* {
	font-size: 1rem;
	color: $pal-text;
}

.pre-gen-key-pair {
	label {
		span {
			display: inline-block;
			width: 6rem;
		}
	}
	input {
		@extend %ui-element;
		width: 100%;

		@media(min-width: $break) {
			width: 32rem;
		}
	}
}

main {
	@media(min-width: $break) {
		display: flex;
		justify-content: stretch;
	}

	section {
		@media(min-width: $break) {
			width: 50%;
		}

		h1 {
			background-color: $pal-text;
			color: white;
			text-align: center;
		}
	}
}

form {
	width: 100%;
	margin-bottom: 1rem;

	label {
		display: block;
		margin: 1rem 0;

		span {
			display: block;
			padding: 0.5rem;
		}
		textarea,input {
			@extend %ui-element;
		}
	}

	.actions {
		button {
			@extend %ui-element;
			display: block;
			margin: 0 auto;
			width: 8rem;
			border: none;
			text-decoration: underline;
			font-weight: bold;
			cursor: pointer;
		}
	}

	output {
		display: block;
		background-color: $pal-highlight;

		label {
			span {
				font-weight: bold;
				text-decoration: underline;
			}
			textarea {
				height: 10rem;
			}
		}
	}
}
